<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EnvipressLogistic.Properties.Settings.bdpruebaConnectionString"
            connectionString="Data Source=|DataDirectory|\bdprueba.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="EnvipressLogistic.Properties.Settings.envipressBDConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\envipressBD.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>